<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.miaohy.pb.modules.mapper.HospitalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.miaohy.pb.modules.entity.Hospital">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="telephone" property="telephone" />
        <result column="Introduction" property="Introduction" />
        <result column="level" property="level" />
        <result column="cover_url" property="coverUrl" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <select id="getHospitalList" resultMap="BaseResultMap">
        select *
        from hospital
        where 1=1
        and is_deleted = 0
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="level==1 ">
            and(
            level = 1
            or level = 2
            or level = 3
            )
        </if>
        <if test="level==2 ">
            and(
            level = 4
            or level = 5
            or level = 6
            )
        </if>
        <if test="level==3 ">
            and(
            level = 7
            or level = 8
            or level = 9
            )
        </if>
        limit #{pageIdx},#{pageSize}
    </select>
    <select id="getCountByName" resultType="java.lang.Integer">
        select count(*)
        from hospital
        where 1=1
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        and is_deleted = 0
        <if test="level==1 ">
            and(
            level = 1
            or level = 2
            or level = 3
            )
        </if>
        <if test="level==2 ">
            and(
            level = 4
            or level = 5
            or level = 6
            )
        </if>
        <if test="level==3 ">
            and(
            level = 7
            or level = 8
            or level = 9
            )
        </if>
    </select>

</mapper>
