<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.miaohy.pb.modules.mapper.PbCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.miaohy.pb.modules.entity.PbComment">
    <result column="id" property="id" />
        <result column="target_id" property="targetId" />
        <result column="target_type" property="targetType" />
        <result column="target_name" property="targetName" />
        <result column="score" property="score" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>
    <select id="getList" resultMap="BaseResultMap">
        select *
        from pb_comment
        where target_id = #{id}
        and target_type = #{type}
        and is_deleted = 0
    </select>

</mapper>
